@{
    ViewData["Title"] = "Admin";
}

<h1>Admin page</h1>
<hr>
<a href="#">Log in</a>
~
<a href="#">Log out</a>
~
<a href="/admin/posts">Edit or delete posts</a>
~
<a href="/admin/projects">Manage project list</a>
~
<a href="/admin/tags">Manage tag list</a>

<br/>
<br/>
<form method="POST" action="/admin/createNote">
    <input type="text" placeholder="pASSword" class="feedback-input" name="password">
    <br/>
    <input type="text" placeholder="Title" class="feedback-input" name="title">
    <br/>
    <input type="text" placeholder="Tags, e.g. 1;2;3;4" class="feedback-input" name="tags">
    <br/>
    <textarea placeholder="Description" class="feedback-input" name="shortDescription"></textarea>
    <br/>
    <textarea placeholder="Text of the post in markdown" class="feedback-input" name="text"></textarea>
    <br/>
    <input type="submit"/>
</form>

<hr/>