@using System.Globalization
@using Application.Features.Notes.Queries.GetNoteArchive

@model Application.Features.Notes.Queries.GetNoteArchive.GetNoteArchiveQueryResult

@{
    ViewData["Title"] = "Archive";
    var notes = (List<GetNoteArchiveQueryResultItem>)Model.Notes;
    notes.Sort((x, y) => DateTime.Compare(x.Date, y.Date));
    var currentYear = 2022;
    var currentMonth = 2022;
}

<h1>Archive</h1>
<hr>

@foreach (var note in notes)
{
    if (note.Date.Year != currentYear)
    {
        currentYear = note.Date.Year;
        <h2>@currentYear</h2>
    }
    
    if (note.Date.Month != currentMonth)
    {
        currentMonth = note.Date.Month;
        <h4>@note.Date.ToString("MMMM", CultureInfo.GetCultureInfo("en-US"))</h4>
    }
    
    <a href="/note/@note.Id">@note.Title</a>
    <br/>
}

<hr/>