@using System.Globalization

@model Application.Features.Notes.Queries.GetNoteArchive.GetNoteArchiveQueryResult

@{
    ViewData["Title"] = "Archive";
    var notes = Model.Notes;
    notes = notes.OrderBy(n => n.Date).ToList();
    var currentDate = string.Empty;
}

<h1>Archive</h1>
<hr>

@foreach (var note in notes)
{
    @if (note.Date.ToString("yyyy MMMM", CultureInfo.GetCultureInfo("en-US")) == currentDate)
    {
        <a href="/note/@note.Id">@note.Title</a>
        <br/>
    }
    else
    {
        currentDate = note.Date.ToString("yyyy MMMM", CultureInfo.GetCultureInfo("en-US"));
        <h4>@note.Date.ToString("yyyy MMMM", CultureInfo.GetCultureInfo("en-US"))</h4>
        <a href="/note/@note.Id">@note.Title</a>
        <br/>
    }
}

<hr/>