@{
    ViewData["Title"] = "Blog";
    ViewData["CurrentPage"] = "blog";
}

@model Web.Models.BlogViewModel

<h1>All posts</h1>
<hr>
  
@foreach (var note in Model.Notes)
{
    <div>
        <h3><a href="/note/@note.Id">@note.Title</a> ≈@(note.Text?.Split(' ', StringSplitOptions.RemoveEmptyEntries).Length / 200)m to read</h3>
        <p>Tags: 
            @foreach (var tag in note.Tags.Split(';'))
            {
                <a href="/tags">#@(tag+" ")</a>
            }
        </p>
        <p>@note.ShortDescription</p>
        <hr>
    </div>
}

@if (ViewBag.previous != -1)
{
    <a href="/blog/@ViewBag.previous">← previous</a>
}
@if (ViewBag.next != -1)
{
    <span>&#13;</span>
    <a href="/blog/@ViewBag.next">next →</a>
}
@if (ViewBag.next != -1 || ViewBag.previous != -1)
{
    <hr>
}