@model Application.Features.Tags.Queries.GetAllTags.GetAllTagsQueryResult

@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Admin";
}

<h1>Tags</h1>
<hr>

<input placeholder="password" id="password"/>

<table>
    <tr>
        <th>Title and ID</th>
        <th>Delete</th>
    </tr>
    @foreach (var tag in Model.Tags)
    {
        <tr>
            <td>@tag.Id | @tag.Text</td>
            <td><button onclick="deleteTag(@tag.Id)">Delete</button></td>
        </tr>
    }
</table>

<form method="POST" action="/admin/addTag">
    <input placeholder="password" name="password"/>
    <input placeholder="text" name="text"/>
    <input type="submit"/>
</form>

<hr/>

<script>
let password = document.getElementById("password").value;

async function deleteTag(id) {
    let data = new FormData();
    data.append('id', id);
    data.append('password', document.getElementById('password').value);
    
    await fetch('/admin/deleteTag', {
       method: 'POST',
       body: data 
    });
}
</script>