@using Domain.Entities
@model Web.Models.ProjectsViewModel
@{
    ViewData["Title"] = "Projects";
    ViewData["CurrentPage"] = "projects";
}

<h1>Projects</h1>
<hr>

@foreach (Project project in Model.Projects)
{
    <div>
        <h3>
            @project.Title
        </h3>
        <p>
            @project.ShortDescription <a href="@project.Link">Link ⧉</a>
        </p>
        <hr>
    </div>
}