@using Domain.Entities
@using Domain.Entities.Tag
@{
    ViewData["Title"] = ViewBag.tag.Text;
    ViewData["CurrentPage"] = "tags";
}

<h1>Notes with "@ViewBag.tag.Text" tag</h1>
<hr>
<br>

@foreach (Note note in ViewBag.notes)
{
    <h3>
        <a href="/note/@note.Id">@note.Title</a> <span>@note.Date.ToShortDateString()</span>
    </h3>
    @foreach (string tag in note.Tags.Split(';'))
    {
        @foreach (Tag t in ViewBag.tags)
        {
            @if (t.Text == tag)
            {
                <a href="/tag/@t.Id" class="tag">#@t.Text</a>
            }
        }
    }
    <p>
        @note.ShortDescription <a href="/note/@note.Id">➜</a>
    </p>
    <hr/>
}
