@model Application.Features.Tags.Queries.GetAllTags.GetAllTagsQueryResult

@{
    ViewData["Title"] = "Tags";
    ViewData["CurrentPage"] = "tags";
}

<main>
    <h1>Tags</h1>
    <hr>

    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li><a href="/tag/@tag.Text">#@tag.Text</a></li>
        }
    </ul>    
</main>
<hr/>