@{
    ViewData["Title"] = "Admin";
    ViewData["CurrentPage"] = "admin";
}

<main>
    <h1>Admin page ~-~</h1>
    <hr>
    <br>
    
    <details>
        <summary>Add tag</summary>
        <form method="POST" action="/admin/addTag">
            <input placeholder="text" name="text"/>
            <input placeholder="password" name="password"/>
            <input type="submit"/>
        </form>
    </details>
    
    <details>
        <summary>Edit tag</summary>
        <form method="POST" action="/admin/editTag">
            <input placeholder="text" name="text"/>
            <input placeholder="id" name="id"/>
            <input placeholder="password" name="password"/>
            <input type="submit"/>
        </form>
    </details>
    
    <details>
        <summary>Delete tag</summary>
        <form method="POST" action="/admin/deleteTag">
            <input placeholder="ID" name="id"/>
            <input placeholder="Password" name="password"/>
            <input type="submit" class="button error"/>
        </form>
    </details>

    <details>
        <summary>Add project</summary>
        <form method="POST" action="/admin/addProject">
            <input placeholder="title" name="title"/>
            <input placeholder="description" name="description"/>
            <input placeholder="full link" name="link"/>
            <input placeholder="password" name="password"/>
            <input type="submit"/>
        </form>
    </details>

    <details>
        <summary>Edit project</summary>
        <form method="POST" action="/admin/editProject">
            <input placeholder="ID" name="id"/>
            <input placeholder="title" name="title"/>
            <input placeholder="description" name="description"/>
            <input placeholder="full link" name="link"/>
            <input placeholder="password" name="password"/>
            <input type="submit" class="button outline"/>
        </form>
    </details>
    
    <details>
        <summary>Delete project</summary>
        <form method="POST" action="/admin/deleteProject">
            <input placeholder="ID" name="id"/>
            <input placeholder="PASSWORD" name="password"/>
            <input type="submit" class="button error"/>
        </form>
    </details>

    <details>
        <summary>Delete</summary>
        <form method="POST" action="/admin/deleteNote">
            <input placeholder="admin password" id="delete-password"/> 
            <input placeholder="Note's ID" id="delete-id"/> 
            <input type="submit" class="button error" value="DELETE">
        </form>
    </details>
    
    <details>
        <summary>Edit</summary>
        <form method="POST" action="/admin/editNote">
            <input placeholder="ID" name="id">
            <input placeholder="Password" name="password">
            <input placeholder="Title" name="title">
            <input placeholder="Tags (4;83;12;31;23)" name="tags">
            <textarea placeholder="Short description" style="resize: vertical;" name="shortDescription"></textarea>
            <textarea placeholder="Text" style="resize: vertical;" name="text"></textarea>
            <input type="submit" class="outline"/>
        </form>
    </details>

    <details>
        <summary>Write</summary>
        <form method="POST" action="/admin/createNote">
            <input placeholder="Password" name="password">
            <input placeholder="Title" name="title">
            <input placeholder="Tags id (32;92;5)" name="tags">
            <textarea placeholder="Short description" style="resize: vertical;" name="shortDescription"></textarea>
            <textarea placeholder="Text" style="resize: vertical;" name="text"></textarea>
            <input type="submit">
        </form>
    </details>
</main>
<br>
<br>
<br>