@{
    ViewData["Title"] = "Blog";
    ViewData["CurrentPage"] = "blog";
}

<main>
    <h1>Blog</h1>
    <hr>
    <br>

    <div class="card">
        <h3>
            <a href="#">Blog note #1</a>
        </h3>
        <details>
            <p>2022-07-14 • 281 words</p>
            <a href="#" class="tag">Rust</a>
            <a href="#" class="tag">C</a>
            <a href="#" class="tag">Programming</a>
        </details>
        <h6></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more ➜</a></p>
    </div>

    <br>

    <div class="card">
        <h3>
            <a href="#">Blog note #2</a>
        </h3>
        <details>
            <p>2022-07-14 • 281 words</p>
            <a href="#" class="tag">Rust</a>
            <a href="#" class="tag">C</a>
            <a href="#" class="tag">Programming</a>
        </details>
        <h6></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more ➜</a></p>
    </div>

    <br>

    <div class="card">
        <h3>
            <a href="#">Blog note #3</a>
        </h3>
        <details>
            <p>2022-07-14 • 281 words</p>
            <a href="#" class="tag">Rust</a>
            <a href="#" class="tag">C</a>
            <a href="#" class="tag">Programming</a>
        </details>
        <h6></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more ➜</a></p>
    </div>

    <br>

    <div class="card">
        <h3>
            <a href="#">Blog note #4</a>
        </h3>
        <details>
            <p>2022-07-14 • 281 words</p>
            <a href="#" class="tag">Rust</a>
            <a href="#" class="tag">C</a>
            <a href="#" class="tag">Programming</a>
        </details>
        <h6></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more ➜</a></p>
    </div>

    <br>

    <div class="card">
        <h3>
            <a href="#">Blog note #5</a>
        </h3>
        <details>
            <p>2022-07-14 • 281 words</p>
            <a href="#" class="tag">Rust</a>
            <a href="#" class="tag">C</a>
            <a href="#" class="tag">Programming</a>
        </details>
        <h6></h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">Read more ➜</a></p>
    </div>
    <br>
    <nav class="nav">
        <div class="nav-left">
            <a href="#" class="button outline">Previous</a>
        </div>
        <div class="nav-right">
            <a href="#" class="button outline">Next</a>
        </div>
    </nav>
</main>
<br>
<br>
<br>