@using System.Web
@{
    ViewData["Title"] = "Home";
    ViewData["CurrentPage"] = "index";
}

<head>
    <meta charset="utf-8">
    <meta name="description" content="Demn's space">
    <meta name="author" content="demn">
    <meta name="copyright" content="demn (yes?)">
    <meta name="robots" content="index, follow">
    <meta name="rating" content="safe for kids">

    <meta property="og:title" content="Home">
    <meta property="og:site_name" content="demn's space">
    <meta property="og:url" content="https://demns.space">
    <meta property="og:description" content="demn's space — home page">
    <meta property="og:type" content="article">
    <meta property="og:image" content="https://avatars.githubusercontent.com/u/69032700?v=4">
</head>

<main>
    <h1>Home page <a href="#">🔗</a></h1>
    <hr>
    <br>

    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.text))
</main>
<br>
<br>
<br>