@using System.Web
@{
    ViewData["Title"] = "Home";
    ViewData["CurrentPage"] = "index";
}

<main>
    <h1>Home page <a href="#">🔗</a></h1>
    <hr>
    <br>

    @Html.Raw(HttpUtility.HtmlDecode(ViewBag.text))
</main>
<br>
<br>
<br>