@{
    ViewData["Title"] = "Projects";
    ViewData["CurrentPage"] = "projects";
}

<main>
    <h1>Demn's projects</h1>
    <hr>
    <br>

    <div class="card">
        <h3>My first project</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">GitHub ⧉</a></p>
    </div>

    <br>

    <div class="card">
        <h3>My second project</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">GitHub ⧉</a></p>
    </div>

    <br>

    <div class="card">
        <h3>Asp.net blog</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">GitHub ⧉</a></p>
    </div>

    <br>
</main>
<br>
<br>
<br>