@{
    ViewData["Title"] = "RSS";
    ViewData["CurrentPage"] = "rss";
}

<main>
    <h1>RSS feed</h1>
    <hr>
    <br>

    <ul>
        <li>
            <a href="#">Blog feed</a>
        </li>
        <li>
            <a href="#">Notes feed</a>
        </li>
    </ul>
</main>
<br>
<br>
<br>