@{
    ViewData["Title"] = "Tags";
    ViewData["CurrentPage"] = "tags";
}

<main>
    <h1>Tags</h1>
    <hr>
    <br>

    <ul>
        <li><a href="#">Rust (3)</a></li>
        <li><a href="#">C++ (28)</a></li>
        <li><a href="#">Rust (3)</a></li>
        <li><a href="#">Among us (9)</a></li>
    </ul>    
</main>
<br>
<br>
<br>