@{
    ViewData["Title"] = "Tags";
    ViewData["CurrentPage"] = "tags";
}

<main>
    <h1>Tags</h1>
    <hr>
    <br>

    <ul>
        @foreach (var tag in ViewBag.tags)
        {
            <li><a href="#">@tag.Text</a></li>
        }
    </ul>    
</main>
<br>
<br>
<br>