<!DOCTYPE html>
<html lang="en">
<head>
    <title>blog redesigned</title>
    <link rel="stylesheet" href="/css/new.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🍗</text></svg>"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
</head>

<body>
@{
    bool.TryParse(ViewData["HideLayout"]?.ToString(), out var hideHeader);
}
@if (!hideHeader)
{
    <header>
        <h2>Demn's space</h2>
        <a href="/">Home</a> ~ <a href="/projects">Projects</a> ~ <a href="/blog">Blog</a> ~ <a href="/tags">Tags</a> ~ <a href="/archive">Archive</a>
    </header>
}

@RenderBody()

<footer>
    <a href="/">Main page</a> ~ <a href="/rss">RSS</a> ~ <a href="mailto:demndevel@gmail.com">Email</a> ~ <a href="https://t.me/demndevel">Telegram</a> ~ <a href="https://discord.com/users/demndev#9257">Discord</a>
</footer>
</body>
</html>